<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkML0101ENSkillsNetwork20718538-2022-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align="center"><font size="5">Supervised Machine Learning: Regression - Final Assignment</font></h1>

## Instructions:

In this Assignment, you will demonstrate the data regression skills you have learned by completing this course. You are expected to leverage a wide variety of tools, but also this report should focus on present findings, insights, and next steps. You may include some visuals from your code output, but this report is intended as a summary of your findings, not as a code review. 

The grading will center around 5 main points:

1. Does the report include a section describing the data?
2. Does the report include a paragraph detailing the main objective(s) of this analysis? 
3. Does the report include a section with variations of linear regression models and specifies which one is the model that best suits the main objective(s) of this analysis.
4. Does the report include a clear and well-presented section with key findings related to the main objective(s) of the analysis?
5. Does the report highlight possible flaws in the model and a plan of action to revisit this analysis with additional data or different predictive modeling techniques?

## Import the required libraries

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you will need to install these libraries by removing the `#` sign before `!mamba` in the code cell below.

In [ ]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented.
# !mamba install -qy pandas==1.3.4 numpy==1.21.4 seaborn==0.9.0 matplotlib==3.5.0 scikit-learn==0.20.1
# Note: If your environment doesn't support "!mamba install", use "!pip install"

In [1]:
import pandas as pd

## Importing the Dataset

Before you begin, you will need to choose a data set that you feel passionate about. You can brainstorm with your peers about great public data sets using the discussion board in this module.

Read your chosen dataset into pandas dataframe:

In [21]:
path = r'C:\Users\ΚΩΝΣΤΑΝΤΙΝΟΣ\Documents\IBM MACHINE LEARNING\Supervised ML\Ai_companies_final_project_honors.csv'
df = pd.read_csv(path)
df.head()

,Company Name,Description,Headquarters,Founded,Annual Revenue,Glassdoor Score
0,Alibaba Cloud,Best for Big Data Analytics,"Hangzhou, China",2009,$479.5 million,3.7/5
1,DataRobot,Best for Automated Machine Learning,"Boston, Massachusetts",2012,$338.2 million,3.7/5
2,Google,Best for AI Development,"Mountain View, California",1998,$305.6 billion,4.4/5
3,Hugging Face,Best for Deploying AI Models in the Cloud,"Brooklyn, New York",2016,$40 million,4.3/5
4,H2O.ai,Best for Time Series Forecasting,"Mountain View, California",2011,$69.2 million,3.1/5

Once you have selected a data set, you will produce the deliverables listed below and submit them to one of your peers for review. Treat this exercise as an opportunity to produce analysis that are ready to highlight your analytical skills for a senior audience, for example, the Chief Data Officer, or the Head of Analytics at your company.
Sections required in your report:

*   Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation.
*   Brief description of the data set you chose and a summary of its attributes.
*   Brief summary of data exploration and actions taken for data cleaning and feature engineering.
*   Summary of training at least three linear regression models which should be variations that cover using a simple  linear regression as a baseline, adding polynomial effects, and using a regularization regression. Preferably, all use the same training and test splits, or the same cross-validation method.
*  A paragraph explaining which of your regressions you recommend as a final model that best fits your needs in terms of accuracy and explainability.
*  Summary Key Findings and Insights, which walks your reader through the main drivers of your model and insights from your data derived from your linear regression model.
*  Suggestions for next steps in analyzing this data, which may include suggesting revisiting this model adding specific data features to achieve a better explanation or a better prediction.

# 1. About the Data

This dataset contains information on 100 AI companies in 2024. It can be used for data cleaning exercises (e.g., extracting only the Glassdoor score from values like "3.7/5") or for estimating annual revenue based on Glassdoor scores and headquarters and any other possible analysis.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company Name     100 non-null    object
 1   Description      100 non-null    object
 2   Headquarters     100 non-null    object
 3   Founded          100 non-null    int64
 4   Annual Revenue   100 non-null    object
 5   Glassdoor Score  98 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

In [23]:
df['Glassdoor Score'].unique()

array(['3.7/5', '4.4/5', '4.3/5', '3.1/5', '3.9/5', nan, '3.4/5', '3.8/5',
       '4.1/5', '3.6/5', '4.5/5', '3.3/5', '4.8/5', '3.2/5', '5-Apr',
       '4.6/5', '4.7/5', '3.5/5', '4.2/5', '4.9/5', '2.9/5'], dtype=object)

In [18]:
df["Glassdoor Score"] = pd.to_numeric(df["Glassdoor Score"], errors="coerce")
df["Annual Revenue"] = pd.to_numeric(df["Annual Revenue"], errors="coerce")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company Name     100 non-null    object
 1   Description      100 non-null    object
 2   Headquarters     100 non-null    object
 3   Founded          100 non-null    int64
 4   Annual Revenue   0 non-null      float64
 5   Glassdoor Score  0 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.8+ KB

In [20]:
df['Glassdoor Score'].unique()

array([nan])

In [11]:
def clean_revenue(value):
    if isinstance(value, str):  
        value = value.replace("$", "").strip()  
        num = "".join([c for c in value if c.isdigit() or c == "."])  

        if "billion" in value:
            return float(num)  
        elif "million" in value:
            return float(num) / 1000  
        else:
            return float(num) / 1000 if num else None  
    return None  

df["Annual Revenue"] = df["Annual Revenue"].apply(clean_revenue)

In [12]:
df.head()

,Company Name,Description,Headquarters,Founded,Annual Revenue,Glassdoor Score
0,Alibaba Cloud,Best for Big Data Analytics,"Hangzhou, China",2009,None,NaN
1,DataRobot,Best for Automated Machine Learning,"Boston, Massachusetts",2012,None,NaN
2,Google,Best for AI Development,"Mountain View, California",1998,None,NaN
3,Hugging Face,Best for Deploying AI Models in the Cloud,"Brooklyn, New York",2016,None,NaN
4,H2O.ai,Best for Time Series Forecasting,"Mountain View, California",2011,None,NaN

# 2. Objectives

# 3. Linear Regression Models

# 4. Insights and key findings

# 5. Next Steps

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>